@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities{
  
  .banner-background{
    @apply bg-[url(./public/hero.jpg)] lg:bg-fixed;
} 
  .icon-menu{
  @apply block bg-[url(./public/menu.svg)] bg-no-repeat;
  width: 48px;
  height: 48px; 

   & input[type="checkbox"]:checked + .icon-menu{
    @apply block bg-[url(./public/cencel.svg)] bg-no-repeat;
    input[type="checkbox"]:checked ~ nav{
      @apply flex;
    }
  }
 
  }
    & .slider {
        @apply py-2;
        width: 100%;
        height: 15vh;
        display: flex;
        gap: 20px;
        overflow-x: scroll;
      
        &::-webkit-scrollbar {
          @apply hidden;
        }
      
        & .card-slider {
          @apply px-2 py-1;
         
          border: 1px solid #f7d6dc;
          display: flex;
          place-content: center;
          place-items: center;
          background-color: #00bcd4;
        }
      }
.box-produck:hover .add-to-card{
  @apply block;
}
.add-to-card:hover + .labale{
  @apply block;
}
      
  /* General Styles */ 

.navbar {
  display: flex;
  justify-content: space-between;
  background-color:skyblue;
  color:red;
  position: relative;
  height: px;
  place-content: center;

}
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 1em;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #00bcd4;
}

/* Mobile Styles */
.menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  font-size: 1.5em;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color:pink;
    padding: 10px;
    top: 50px;
    height: 45vh;
    width: 400px;
    
  }

  .menu-toggle:checked + .menu-icon + .nav-links {
    display: flex;
  }
}
}